section {
    position: absolute;
    left: 50%;
    top: 28px;
    transform: translate(-50%,0);
    display: flex;
    flex-flow: column wrap;
    width: 23rem;
    height: 630px;
    background-color: white;
    border-radius: 20px;
    #to-do-text-div {
        flex: 1;
        h1 {
            padding: 1rem;
            font-size: 1.6rem;
            text-align: center;
        }
    }
    #to-dos {
        flex: 8;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 1rem;
        padding-bottom: 15px;
        overflow-y: scroll;
        scrollbar-width: none;
        #to-dos::-webkit-scrollbar { 
            display: none;  
        }
        .to-do-and-its-num {
            min-height: 40px;
            height: 40px;
            display: flex;
            flex-flow: row wrap;
            width: 80%;
            gap: 1rem;
            position: relative;
            .num {
                flex: 1;
                // background-color: rgb(254, 222, 221);
                background-color: rgb(255, 187, 223);
                position: relative;
                border-radius: 8px;
                p {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 1.1rem;
                }
            }
            .to-do {
                flex: 8;
                border-bottom: 3px dotted black;
                position: relative;
                input {
                    background-color: transparent;
                    border: none;
                    position: absolute;
                    bottom: 0px;
                    font-size: 1rem;
                    font-family: "Lemon", serif;
                    width: 82%;
                    white-space: nowrap;
                    overflow-x: scroll;
                    text-overflow: clip;
                    scrollbar-width: none;
                    outline: none;
                }
                input::-webkit-scrollbar { 
                    display: none;  
                }
            }
            .to-do-edit {
                position: absolute;
                bottom: 7.9px;
                font-size: 0.8rem;
                right: 28px;
                color: black;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
            .to-do-delete {
                position: absolute;
                bottom: 4.2px;
                font-size: 1.1rem;
                right: 5px;
                color: black;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }
    #to-do-input-div {
        flex: 1;
        position: relative;
        #input-div {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            height: 40px;
            width: 81%;
            input {
                height: 100%;
                width: 100%;
                // border: 1.7px solid rgb(251, 185, 183);
                border: 1.7px solid rgb(255, 87, 176);
                border-radius: 6px;
                outline: none;
                padding-left: 12px;
            }
            #submit-to-do {
                border: none;
                color: rgb(255, 187, 223);
                background-color: transparent;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translate(0,-50%);
                cursor: pointer;
                transition-duration: 0.3s;
                &:hover {
                    color: rgb(255, 109, 187);
                }
            }
        }
    }
}
@media only screen and (max-width: 420px) {
    // html {
    //     font-size: 15px !important;
    // }
    section {
        width: 95%;
    }
}