<section>
    <div id="to-do-text-div">
        <h1>To Do List</h1>
    </div>
    <div id="to-dos">
        <div *ngFor="let item of toDos, index as i" class="to-do-and-its-num">
            <div class="num">
                <p>{{i+1}}</p>
            </div>
            <div class="to-do">
                <input [value]="item" [readonly]="!isBeingEdited[i]" (keyup.enter)="doneEditingInput(i)" [ngStyle]="{color: !isBeingEdited[i] ? 'black' : 'blueviolet'}" >
            </div>
            <button (click)="onToDoEdit(i)" [ngStyle]="{color: !isBeingEdited[i] ? 'black' : 'blueviolet'}" class="to-do-edit"><i class="fa-solid fa-pen-to-square"></i></button>
            <button (click)="onToDoDelete($event,i)" class="to-do-delete"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
    <div id="to-do-input-div">
        <div id="input-div">
            <input #input (keyUp.enter)="onToDoSubmit(input)" #toDoInput type="text" placeholder="Write a task">
            <button (click)="onToDoSubmit(input)" id="submit-to-do"><i class="fa-solid fa-circle-arrow-right fa-2xl"></i></button>
        </div>
    </div>
</section>