@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 18px;
}
body {
    // background-color: rgb(241, 243, 244);
    background-color: rgb(255, 195, 228);
    font-family: 'Cute Font', cursive;
    font-weight: 500;
    position: relative;
}